.input{
  outline: none;
  padding: 0.5em;
  border: 1px solid #DAA06D;
  color: #DAA06D;
  width: 14em;
  height: 3em;
  border-radius: 10px;
  background-color: #EADDCA;
  text-align: center;
}
.input:hover {
   border: 2px solid lightgrey;
   box-shadow: 0px 0px 20px -17px;
 }
 
 .input:active {
   transform: scale(0.95);
 }
 
 .input:focus {
   border: 2px solid grey;
 }
 .text{
  color: #a77346;
  text-align: center;
  padding: 10px;
  background-color: #36474f;
  border-radius: 10px;
 }